.navbar{
    font-family: Showcard Gothic;
  }
  
  .login_oueter {
    text-align: center;
    width: 360px;
    max-width: 100%;
  }
  
  .form-row .titulo{
    text-align: center;
  }
  
  .logo_outer{
  
    color: white;
    text-align: center;
  }
  .logo_outer img{
    margin-top: -20px;
    border-radius: 5%;
    width: 300px;
    margin-bottom: 10px;
  }
  
  body
  {
      background: linear-gradient(purple, orange);
  }